<settings>
  <setting propertyKey="@Properties.HourColor" title="@Strings.HourColorTitle"><settingConfig type="list">
    <listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="1">@Strings.ColorBrightBlue</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="4">@Strings.ColorOrange</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="8">@Strings.ColorDeepPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry>
  </settingConfig></setting>
  <setting propertyKey="@Properties.ColonColor" title="@Strings.ColonColorTitle"><settingConfig type="list">
    <listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="1">@Strings.ColorBrightBlue</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="4">@Strings.ColorOrange</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="8">@Strings.ColorDeepPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry>
  </settingConfig></setting>
  <setting propertyKey="@Properties.MinuteColor" title="@Strings.MinuteColorTitle"><settingConfig type="list">
    <listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="1">@Strings.ColorBrightBlue</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="4">@Strings.ColorOrange</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="8">@Strings.ColorDeepPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry>
  </settingConfig></setting>
  <setting propertyKey="@Properties.RingMode" title="@Strings.RingModeTitle"><settingConfig type="list"><listEntry value="0">@Strings.RingMulticolor</listEntry><listEntry value="1">@Strings.RingSingle</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.RingColor" title="@Strings.RingColorTitle"><settingConfig type="list">
    <listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="1">@Strings.ColorBrightBlue</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="4">@Strings.ColorOrange</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="8">@Strings.ColorDeepPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry>
  </settingConfig></setting>
  <setting propertyKey="@Properties.MetricColorMode" title="@Strings.MetricColorModeTitle"><settingConfig type="list"><listEntry value="0">@Strings.MetricAutomatic</listEntry><listEntry value="1">@Strings.MetricMatchTime</listEntry><listEntry value="2">@Strings.MetricIndividual</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.Metric1Color" title="@Strings.Metric1ColorTitle"><settingConfig type="list"><listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.Metric2Color" title="@Strings.Metric2ColorTitle"><settingConfig type="list"><listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.Metric3Color" title="@Strings.Metric3ColorTitle"><settingConfig type="list"><listEntry value="0">@Strings.ColorCyan</listEntry><listEntry value="2">@Strings.ColorBlue</listEntry><listEntry value="3">@Strings.ColorYellow</listEntry><listEntry value="5">@Strings.ColorRed</listEntry><listEntry value="6">@Strings.ColorLime</listEntry><listEntry value="7">@Strings.ColorPurple</listEntry><listEntry value="9">@Strings.ColorWhite</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.TrainerBoiMode" title="@Strings.TrainerBoiModeTitle"><settingConfig type="list"><listEntry value="0">@Strings.TrainerFullColor</listEntry><listEntry value="1">@Strings.TrainerMono</listEntry><listEntry value="2">@Strings.TrainerOff</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.Metric1" title="@Strings.Metric1Title"><settingConfig type="list"><listEntry value="0">@Strings.MetricNone</listEntry><listEntry value="1">@Strings.MetricDistance</listEntry><listEntry value="2">@Strings.MetricSteps</listEntry><listEntry value="3">@Strings.MetricHeartRate</listEntry><listEntry value="4">@Strings.MetricBodyBattery</listEntry><listEntry value="5">@Strings.MetricBattery</listEntry><listEntry value="6">@Strings.MetricTemperature</listEntry><listEntry value="7">@Strings.MetricNotifications</listEntry><listEntry value="8">@Strings.MetricSunrise</listEntry><listEntry value="9">@Strings.MetricSunset</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.Metric2" title="@Strings.Metric2Title"><settingConfig type="list"><listEntry value="0">@Strings.MetricNone</listEntry><listEntry value="1">@Strings.MetricDistance</listEntry><listEntry value="2">@Strings.MetricSteps</listEntry><listEntry value="3">@Strings.MetricHeartRate</listEntry><listEntry value="4">@Strings.MetricBodyBattery</listEntry><listEntry value="5">@Strings.MetricBattery</listEntry><listEntry value="6">@Strings.MetricTemperature</listEntry><listEntry value="7">@Strings.MetricNotifications</listEntry><listEntry value="8">@Strings.MetricSunrise</listEntry><listEntry value="9">@Strings.MetricSunset</listEntry></settingConfig></setting>
  <setting propertyKey="@Properties.Metric3" title="@Strings.Metric3Title"><settingConfig type="list"><listEntry value="0">@Strings.MetricNone</listEntry><listEntry value="1">@Strings.MetricDistance</listEntry><listEntry value="2">@Strings.MetricSteps</listEntry><listEntry value="3">@Strings.MetricHeartRate</listEntry><listEntry value="4">@Strings.MetricBodyBattery</listEntry><listEntry value="5">@Strings.MetricBattery</listEntry><listEntry value="6">@Strings.MetricTemperature</listEntry><listEntry value="7">@Strings.MetricNotifications</listEntry><listEntry value="8">@Strings.MetricSunrise</listEntry><listEntry value="9">@Strings.MetricSunset</listEntry></settingConfig></setting>
</settings>
